REACT_APP_API=null # /api (proxied) or direct api url read TIP
REACT_APP_APIURL=null # direct api url: https://api.notreal003.org (for auth workflow)
CI=false
REACT_APP_DELETE_KEY=xxx # GDPR delete key same in BACKEND

# TIP: direct use the api url, for example if you using railway to host the api, you can use domain like api-notreal003.up.railway.app